<html>
<head>
    <title>Blog</title>
</head>
<body>
    Testen

    {% for post in object_list %}
        <h4>{{ post }}</h4>
        <p>{{ post.description }}</p>
        <b>Author:</b> {{ post.author}}

    {% endfor %}
</body>


</html>