{% extends "blog/base.html" %}

{% block content %}



<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div class="container">
  <div class="card">
    <div class="card-body">
      {{ form.username.label_tag }}
      {{ form.username }}
      {{ form.password.label_tag }}
      {{ form.password }}
      {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
      {% endif %}
      <a href="{% url 'password_reset' %}">Perdeu a senha?</a>

    </div>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />

  </div>
</div>
{% endblock %}
