<!doctype html>
<html lang="en">
<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Zumaffus</title>
  </head>
  <body id="body">
    
    <div class="container" id="gg">
        <div class="card">
            <div id ="hahagerval" class="row">
                    <div class="col-md-3">
                        <img id="hah" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Letter_z.svg/1200px-Letter_z.svg.png" alt="logo Z" width="270" height="270">
                    </div> 
                    <div class="col-mt-5" >
                        <center><h1 id="perera">Zumaffus</h1></center>
                        <p id="mutuca">Neste blog você encontrará as mais diversas noticias possíve is. Aproveite :D</p>
                    </div>  
            </div> 
        </div>

        <div class="card-body">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" >Zumaffus</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="textoNavbar">
                        <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/../">Home <span class="sr-only">(Página atual)</span></a>
                        </li>
                        {% for category in categories %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'category-detail' category.pk %}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                        <li id="vinco5" class="nav-item">
                            <div id="vinco" class="card">
                                <a href="{% url 'login'%}">Click aqui para fazer o login</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <form action="{% url 'search' %}" method="get">
                                <input name="q" type="text" placeholder="Chaanaa que é nóisss">
                                <input type="submit" value="Pesquisar">
                            </form> 
                        </li>
                        </ul>
                        <span class="navbar-text">
                        Só notícia topper
                        </span>
                    </div>
                </nav>  
                <br>
        </div>
    </div> 

  
    

    
    {% block content %}
    {% endblock %}
	<style>
        #perera{
            font-size: 100px;
            color: black;
            font-family: 'Source Code Pro', monospace;
        }
        #g{
            background-color: whitesmoke
        }
        #body{
            font-family: 'Oswald', sans-serif;
            background-image: url(../static/areia.jpg)
        }
        #hahagerval{
            background-image: url(../static/juca.jpg)
        }
        #mutuca{
            color: black
        }
        #vinco{
            margin-top: 6px;
            margin-right: 3px;
            float: right;
        }
	
    </style>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
https://images.clipartlogo.com/files/istock/previews/9151/91513863-blue-abstract-wave-psychedelic-flower-background.jpg
            
            
            
