{% extends "blog/base.html" %}
{% block content %}
    {% for post in object.posts.all %}
    <div class="container" id="jesus">
        <div class="card">

            <h4>{{ post.name }}</h4>
            <p>Author:
                {{ post.author}} |
                {{ post.category}} |
                {{ post.created_at}} |
                <br>
                {{ post.text}}
            </p>
        </div>
    </div>
    {% endfor %}

{% endblock %}