{% extends "blog/base.html" %}
{% block content %}
  <div class="row">
    {% for post in object_list%}
      <div class="container">
        <h4>{{ category }}</h4>
        <p>{{ category }}</p>
        <b>Author:</b> {{ post.author }}
      </div>
    {% endfor %}
  </div>
{% endblock %}