{% extends "blog/base.html" %}
{% block content %}

  <div class="row" id="hahaha">
    {% for post in object_list%}

      <div class="container" id="car">
        <div class="card my-2" id="ash">
          <div class="card-body">
            <a href="{% url 'post-detail' post.pk %}" id="hahaa"><h4 id="as">{{ post }}</h4> </a>
            <p>Descrição:<br>{{ post.description }}</p>
            <b>Author:</b> {{ post.author }}
            <p>Categoria:{{ post.category.name }}</p>
          </div>
        </div>
      </div>
      <br>
    {% endfor %}
{% endblock %}
<style>

  #hahaa{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2fwRBAzsSHJokaMtu9fgnG-UvKOCKTsI1SsOpshnWbxDN3sXUZg)
  }
  #as{
    background-image: url(https://st2.depositphotos.com/4924139/8513/i/950/depositphotos_85133846-stock-photo-seamless-psychedelic-luminescent-ornament-background.jpg)
  }
  #car{
    border-bottom: 20px;
    background-image: url(https://st2.depositphotos.com/4924139/8513/i/950/depositphotos_85133846-stock-photo-seamless-psychedelic-luminescent-ornament-background.jpg)

  }






</style>
