{% extends "blog/base.html" %}
{% block content %}
<div class="col" id="box">
  <div class="container" id="med">
    <div class="card">
      <h4 id="medf">{{ object.title }}</h4>
    </div>
    <div class="card">
      <div class="card-body">
        <p>Author:
            {{ object.author}} |
            {{ object.category}} |
            {{ object.created_at}} 
        </div>
      </div>
      
            <br>
              <center>
                  <img class="" id="mano" src="{{ object.banner.url }}" height="50%" width="40%">
              </center>
                <div class="card">
                  {{ object.text|safe}}
                </div>
              <br>
              <div class="card">
                <h2>Comentários:</h2>
                <div class="" id="peru2">
                  {% for comment in object.comments.all %}
                    {{ comment }}<br>
                  {% endfor %}
                </div>
              
            
              {% for comment in post.comments.all %}
		            <p>
			            <b>{{ comment.author }}</b>
			            {{ comment.text }}
			            {{ comment.created_at }}
		            </p>
                {% endfor %} 

                  <form method="POST" action="{% url 'comment' object.id %}">
                      {% csrf_token %}
                      <textarea name="text">
                      </textarea>
                      <input type="submit" value="Comentar">
                  </form>
            </div>
               
              
  </div>       
</div>
      
{% endblock %}
<style>
  #med{
    text-align: center;
    background-color: white
  }
  #mano{
    float:right
  }
  #box{
    width: 80%;
    background-color: aliceblue;
    margin-bottom: 20px;
  }
  #peru2{
    text-align: center;
  }
  #fara{
    background-color: white
  }
</style>